.DS_Store
**/target/**
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.target
.idea/
target/
build/
reports/
models/
.run
.idea/sonarlint
*.iml
modules/SpreadSimulator/src/main/java/ConfigLoader/ConfigLoader.java